html{
    font-family: 'AR One Sans', sans-serif;
    }
    body {
    background: url(https://static.tildacdn.com/tild6135-6263-4539-a234-656266343766/polytech_logo_main_R.png);
    } 
    
    
    form {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        background-color: rgb(231, 244, 240);
     
    }
      
